@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
/* Variables */
:root{
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Dark-blue: hsl(223, 47%, 23%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --font: rgba(137,141,164,255);
  --btn: rgba(56,42,225,255);
  --radius: 0.80rem;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --blueviolent: rgba(118,109,240,255);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-image: url(./img/pattern-background-desktop.svg);
background-size: cover;
background-repeat: no-repeat;
font-family: 'Roboto', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center; 
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.cart-summary{
  background-color: #FFF;
  height: 590px;
  width: 350px;
  margin:0;
  padding: 0;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}
.Illustration-hero img{
  width: 100%;
  border-radius: 0.80rem 0.80rem 0 0;
}
.cart-info h2{
  text-align: center;
  color: var(--Dark-blue);
  font-weight: bold;
  margin: 1.5rem 1.4rem 1.4rem 1.4rem;
}

.cart-info p{
  text-align: center;
  color: var(--font);
  margin: 1.5rem;
  line-height: 1.2rem;
}

.orders-box{
  display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}
.annual-plan{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.annual-plan img{
margin: 0 0.9rem 0 0.9rem;
}
.order-info{
  margin: 0 1.8rem 0 0;
}
.order-info h3{
  width: 100px;
  margin: 0.4rem 0.9rem 0.4rem 0.9rem;
}
.order-info p{
  margin: 0.4rem 0.9rem 0.4rem 0.9rem;
  color: var(--font);
}
.payment-btn{
cursor: pointer;
color: #FFF;
font-weight: bold;
width: 80%;
height: 2.4rem;
font-size: 15px;
box-shadow: var(--dark-shadow);
outline: none;


background-color: var(--btn);
border: none;
border-radius: var(--radius);
list-style: none;
}
.payment-btn:hover{
  background-color: var(--blueviolent);
}

.cancel-btn{
cursor: pointer;
font-weight: bold;
width: 80%;
height: 2.5rem;
display: flex;
align-items: center;
justify-content: center;
border: none;
list-style: none;
font-size: 15px;
outline: none;
background-color: transparent;
margin: 0.8rem;

}
.change-btn{
  cursor: pointer;
  font-weight: bold;
  color: var(--blueviolent);
  width: 80%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  list-style: none;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  margin: 0.8rem;
  
  }

.payment-btn:active, .cancel-btn:active, .change-btn:active{
  transform: translateY(3px);
}


